<div class="navbar">
  <div class="logo">
    <a href="/peoplesBlog/"><img src="/peoplesBlog/images/logo.png" alt="People's Blogs Logo" class="logo-img"></a>
    <span>People's Blogs</span>
  </div>

  <button id="menu" aria-label="Toggle navigation" class="menu-btn">&#9776;</button>

  <nav>
    <ul class="navigation">
      <li><a href="/peoplesBlog/" class="nav-link">Home</a></li>
      <li><a href="/peoplesBlog/pages/about.html" class="nav-link">About</a></li>
      <li><a href="/peoplesBlog/pages/addForm.html" class="nav-link">Add Post</a></li>
      <li><a href="/peoplesBlog/pages/reviews.html" class="nav-link">Reviews</a></li>
    </ul>
  </nav>
</div>
